<form action='/results'>
  <label for="word_to_count">Find out how many times</label>
  <input name="word_to_count" type="text" placeholder="a single word">
  <label for="words_to_check">appears in:</label>
  <textarea name="words_to_check" placeholder="any phrase, sentence, or paragraph."></textarea>
  <button type="submit">Check</button><button type="reset">Reset</button>
</form>
