<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <h1>Word Counter</h1>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
