<p>The word "<%= @word_to_count %>" appears <%= @number_of_times %> <%= @preposition %> in:</p>
<textarea disabled><%= @words_to_check %></textarea>
<a href="/">Try another!</a>

<!-- Add initial content to results.erb -->
